@{
    ViewData["Title"] = "Home Page";
}


<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <h1 class="display-4">Welcome to Quill Lite Shawls</h1>
</div>




